*{

}
.customers-info-scrollPane {
    -fx-background-color: #75b6d4;
}
.customers-info-tableView.filler {
    -fx-background-color: #75b6d4;
}

.customers-info-tableView:row-selection {
    -fx-background-color: #75b6d4;
}

.admin-labels {
    -fx-text-fill: white;
}

.button {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: #75b6d4;
    -fx-border-color: black;
}

.button:hover {
    -fx-background-color: #FFF;
    -fx-text-fill: #75b6d4;
}

.admin-GridPane {
    -fx-background-color: #75b6d4;

    /*
    -fx-background-color: transparent;
    -fx-background-image: url("../resources/MosaicBlue-Flowing-Mosaic-Pattern-Free-Download-Motion-Background-Video-Loop-SampleStill.jpg");
    */
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}


#adminBottomGridPane.increase-yaz-button {
    -fx-background-color: black;
}

.table-view {
    -fx-background-color: #FFF;
}

.table-view:focused{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: #FFF;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #2e2e2e;
}

.table-view .column-header {
    -fx-background-color: #FFF;
}

.table-view .table-cell{
    -fx-text-fill: #000;
    -fx-border-color: transparent;
    -fx-text-alignment: center;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #b1cfdc;
    -fx-background-insets: 0, 0 0 0 0;
    -fx-padding: 0.0em;
    -fx-cell-size: 58px;
    -fx-border-color: transparent;
    -fx-text-alignment: center;
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #FFF;
    -fx-background-insets: 0, 0 0 0 0;
    -fx-padding: 0.0em;
    -fx-text-alignment: center;
}

.table-row-cell:selected {
    -fx-background-color: #75b6d4;
    -fx-background-insets: 0;
    -fx-border-color: transparent;
}

.table-column {
    -fx-alignment: center;
    -fx-font-weight: bold;
}

.table-view .scroll-bar:vertical,
.table-view .scroll-bar:horizontal,
.table-view .corner {
    -fx-background-color: #FFF;

}

